# neo4 specific from here on ...

#include "rockchip_rk3399_defconfig"

BR2_DL_DIR="$(BASE_DIR)/../../buildroot.dl"

#BR2_TOOLCHAIN_BUILDROOT_WCHAR=y
#BR2_TARGET_ROOTFS_EXT2_SIZE="250M"

# package options
BR2_PACKAGE_FFTW_USE_NEON=y
BR2_PACKAGE_EIGEN_UNSUPPORTED_MODULES=y

# buildroot packages

# wifi
#BR2_PACKAGE_WPA_SUPPLICANT=y
#BR2_PACKAGE_RPI_WIFI_FIRMWARE=y
#BR2_PACKAGE_RPI_FIRMWARE_INSTALL_DTB_OVERLAYS=y

#BR2_LINUX_KERNEL_USE_CUSTOM_DTS=y
#BR2_LINUX_KERNEL_CUSTOM_DTS_PATH="$(BR2_EXTERNAL)/board/raspberrypi3-64/audioinjector.dts"
#BR2_LINUX_KERNEL_CONFIG_FRAGMENT_FILES="$(BR2_EXTERNAL)/configs/kernel.fragment"

BR2_PACKAGE_BUSYBOX_CONFIG_FRAGMENT_FILES="$(BR2_EXTERNAL)/configs/busybox.fragment"

# setup options
BR2_ROOTFS_OVERLAY="$(BR2_EXTERNAL)/overlays"
BR2_ROOTFS_USERS_TABLES="$(BR2_EXTERNAL)/users.txt"
#BR2_ROOTFS_POST_BUILD_SCRIPT="$(BR2_EXTERNAL)/board/raspberrypi3-64/post-build.sh"
#BR2_ROOTFS_POST_IMAGE_SCRIPT="$(BR2_EXTERNAL)/board/raspberrypi3-64/post-image.sh"

# external packages
BR2_PACKAGE_NTP=y
BR2_PACKAGE_NTP_NTPDATE=y
