# rockchip provided ...
BR2_TARGET_GENERIC_HOSTNAME="rk3399"
BR2_TARGET_GENERIC_ISSUE="Welcome to RK3399 Buildroot"
BR2_PACKAGE_RKWIFIBT_COMPATIBLE=y
#  - The rk3399 evb used the ttyS0 by default.
BR2_PACKAGE_RKWIFIBT_BTUART="ttyS0"

BR2_PACKAGE_SD_FUSE_RK3399=y

# neo4 specific from here on ...
BR2_TARGET_ROOTFS_EXT2_SIZE="256M"
BR2_DL_DIR="$(BASE_DIR)/../../buildroot.dl"

#BR2_TOOLCHAIN_BUILDROOT_WCHAR=y

BR2_GLOBAL_PATCH_DIR="$(BR2_EXTERNAL)/patches"

# Rock-Chip repos - mostly for sdcard image generation
BR2_PACKAGE_RKBIN=y

BR2_PACKAGE_BUSYBOX_CONFIG_FRAGMENT_FILES="$(BR2_EXTERNAL)/configs/busybox.fragment"

# uboot
BR2_TARGET_UBOOT=y
BR2_TARGET_UBOOT_BUILD_SYSTEM_KCONFIG=y
BR2_TARGET_UBOOT_CUSTOM_VERSION=y
BR2_TARGET_UBOOT_CUSTOM_VERSION_VALUE="2021.10"
BR2_TARGET_UBOOT_BOARD_DEFCONFIG="nanopi-m4-rk3399"
BR2_TARGET_UBOOT_NEEDS_DTC=y
BR2_TARGET_UBOOT_NEEDS_PYTHON3=y

BR2_TARGET_UBOOT_NEEDS_DTC=y
BR2_TARGET_UBOOT_FORMAT_BIN=y
BR2_TARGET_UBOOT_FORMAT_IMG=n
BR2_TARGET_UBOOT_SPL=n
BR2_TARGET_UBOOT_CONFIG_FRAGMENT_FILES="$(BR2_EXTERNAL)/board/nanopi-neo4/uboot.fragment"
BR2_PACKAGE_HOST_DTC=y

# Linux
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_USE_ARCH_DEFAULT_CONFIG=y
BR2_LINUX_KERNEL_NEEDS_HOST_OPENSSL=y
BR2_LINUX_KERNEL_DTS_SUPPORT=y
BR2_LINUX_KERNEL_DTB_OVERLAY_SUPPORT=y
BR2_LINUX_KERNEL_CONFIG_FRAGMENT_FILES="$(BR2_EXTERNAL)/board/nanopi-neo4/kernel.fragment"

BR2_LINUX_KERNEL_LATEST_VERSION=y

# change to target the M4 uncomment the following DTB
#BR2_LINUX_KERNEL_INTREE_DTS_NAME="rockchip/rk3399-nanopi-m4"
# change target to the M4B uncomment the following DTB
BR2_LINUX_KERNEL_INTREE_DTS_NAME="rockchip/rk3399-nanopi-m4b"

# package options
BR2_PACKAGE_FFTW_USE_NEON=y
BR2_PACKAGE_EIGEN_UNSUPPORTED_MODULES=y

# buildroot packages

# wifi
#BR2_PACKAGE_WPA_SUPPLICANT=y
#BR2_PACKAGE_RPI_WIFI_FIRMWARE=y
#BR2_PACKAGE_RPI_FIRMWARE_INSTALL_DTB_OVERLAYS=y
# wifi and bluetooth
BR2_PACKAGE_ARMBIAN_FIRMWARE=y
BR2_PACKAGE_ARMBIAN_FIRMWARE_AP6256=y

# setup options
BR2_ROOTFS_OVERLAY="$(BR2_EXTERNAL)/overlays"
BR2_ROOTFS_USERS_TABLES="$(BR2_EXTERNAL)/users.txt"

BR2_PACKAGE_HOST_GENIMAGE=y
BR2_PACKAGE_HOST_MTOOLS=y
BR2_ROOTFS_POST_IMAGE_SCRIPT="$(BR2_EXTERNAL)/board/nanopi-neo4/post-image.sh"
BR2_ROOTFS_POST_SCRIPT_ARGS=""
BR2_ROOTFS_POST_BUILD_SCRIPT=""

# external packages
BR2_PACKAGE_NTP=y
BR2_PACKAGE_NTP_NTPDATE=y

#BR2_PACKAGE_LINUX_PAM=y
BR2_PACKAGE_OPENSSH=y
BR2_PACKAGE_OPENSSH_SERVER=y
BR2_PACKAGE_OPENSSH_CLIENT=y
BR2_SYSTEM_DHCP="eth0"
BR2_PACKAGE_AVAHI=y
BR2_PACKAGE_AVAHI_DAEMON=y

# Audio
BR2_PACKAGE_ALSA_UTILS=y
BR2_PACKAGE_ALSA_UTILS_ALSAMIXER=y
BR2_PACKAGE_ALSA_UTILS_AMIXER=y
BR2_PACKAGE_ALSA_UTILS_APLAY=y
BR2_PACKAGE_ALSA_UTILS_ALSACTL=y

# weston : enable these to auto launch weston
BR2_PACKAGE_NANOPI_SCRIPTS=y
BR2_PACKAGE_NANOPI_SCRIPTS_INIT_WESTON=y

BR2_PACKAGE_EXAMPLE_MODULE_OVERLAY=y
BR2_PACKAGE_DUMMY_SOUNDCARD=y

# webengine : from configs/raspberrypi3_qt5we_defconfig
#BR2_PACKAGE_LIBERATION=y
#BR2_PACKAGE_QT5=y
#BR2_PACKAGE_QT5BASE_EXAMPLES=y
#BR2_PACKAGE_QT5BASE_GIF=y
#BR2_PACKAGE_QT5BASE_JPEG=y
#BR2_PACKAGE_QT5BASE_PNG=y
#BR2_PACKAGE_QT5WEBENGINE=y
#BR2_PACKAGE_QT5WEBENGINE_PROPRIETARY_CODECS=y
#BR2_PACKAGE_QT5WEBENGINE_ALSA=y
#BR2_PACKAGE_CA_CERTIFICATES=y
# webengine browser
#BR2_PACKAGE_QT5WEBVIEW=y
